*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #020203;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Noto Sans TC", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

.container-fluid {
  width: 100%;
}

.container {
  width: 90%;
}

nav {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1rem;
}
nav h1 {
  font-size: calc(1.275rem + 0.3vw);
  letter-spacing: 0.1rem;
  position: relative;
  margin-left: 1.2rem;
}
@media (min-width: 1200px) {
  nav h1 {
    font-size: 1.5rem;
  }
}
nav h1 a {
  text-decoration: none;
  color: #fff;
}
nav h1 a::before {
  position: absolute;
  content: "";
  width: 1rem;
  height: 1rem;
  background-color: #FFF70F;
  top: 0.6rem;
  left: -1.2rem;
}
nav h1 .nav_tittle--highlighted {
  font-size: 1rem;
  text-transform: uppercase;
}
nav .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  z-index: 900;
}
nav .overlay.active {
  opacity: 1;
  visibility: visible;
}
nav #hamburger {
  display: block;
}
nav #hamburger i {
  color: #fff;
  font-size: calc(1.275rem + 0.3vw);
}
@media (min-width: 1200px) {
  nav #hamburger i {
    font-size: 1.5rem;
  }
}
nav .nav__mobileVersion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  width: 50%;
  height: 100vh;
  z-index: 1000;
  background-color: #3B3B54;
  list-style: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}
nav .nav__mobileVersion.active {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}
nav .nav__mobileVersion li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
nav .nav__mobileVersion li a {
  font-size: calc(1.275rem + 0.3vw);
  margin: 0.5rem 0 0.5rem 0;
  padding: 0.5rem 0 0.5rem 0;
  display: inline-block;
  width: 80%;
  text-align: center;
  text-decoration: none;
  color: #FFF70F;
  border-bottom: 1px solid #FFF70F;
  padding-bottom: 4px;
}
@media (min-width: 1200px) {
  nav .nav__mobileVersion li a {
    font-size: 1.5rem;
  }
}
nav .nav__mobileVersion li a:hover {
  background-color: #FFF70F;
  color: #3B3B54;
}
nav .nav__webVersion {
  display: none;
}

@media (min-width: 992px) {
  nav #hamburger {
    display: none;
  }
  nav .nav__webVersion {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    font-size: 1rem;
    list-style: none;
    width: 30%;
    text-transform: uppercase;
  }
  nav .nav__webVersion .active {
    color: #FFF70F;
  }
  nav .nav__webVersion a {
    text-decoration: none;
    color: #fff;
  }
  nav .nav__webVersion a:hover {
    color: #FFF70F;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
}
header {
  margin-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90%;
}
header .title {
  text-transform: uppercase;
  margin-left: 1.5rem;
}
header .title p {
  color: #fff;
  font-size: calc(1.375rem + 1.5vw);
}
@media (min-width: 1200px) {
  header .title p {
    font-size: 2.5rem;
  }
}
header .title h1 {
  color: #FFF70F;
  font-size: calc(1.425rem + 2.1vw);
  font-family: "Boldonse", sans-serif;
  letter-spacing: 0.3rem;
}
@media (min-width: 1200px) {
  header .title h1 {
    font-size: 3rem;
  }
}

.resume {
  width: 50%;
  color: #fff;
}
.resume h2 {
  text-align: center;
}
.resume .resume__card--row {
  margin-bottom: 6rem;
}
.resume .resume__card--row .resume__card--title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.resume .resume__card--row .resume__card--col {
  margin-top: 3rem;
}
.resume .resume__card--row .resume__card--col .resume__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #A8A8A8;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #020203;
  padding: 2rem;
  border-radius: 0.5rem;
  margin-bottom: 3rem;
}
.resume .resume__card--row .resume__card--col .resume__card .resume__card--header {
  line-height: 2rem;
}
.resume .resume__card--row .resume__card--col .resume__card .resume__card--header h4 {
  font-size: calc(1.275rem + 0.3vw);
  color: #FFF70F;
}
@media (min-width: 1200px) {
  .resume .resume__card--row .resume__card--col .resume__card .resume__card--header h4 {
    font-size: 1.5rem;
  }
}
.resume .resume__card--row .resume__card--col .resume__card .resume__card--header h5 {
  font-size: 1.1rem;
  font-weight: bold;
}
.resume .resume__card--row .resume__card--col .resume__card .resume__card--body {
  width: 50%;
}
.resume .resume__card--row .resume__card--col .resume__card .resume__card--body ul {
  margin-bottom: 1rem;
}

.projects {
  width: 50%;
  color: #fff;
}
.projects h2 {
  text-align: center;
}
.projects .projects__card--row {
  margin-bottom: 6rem;
}
.projects .projects__card--row .projects__card--title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2rem;
}
.projects .projects__card--row .projects__card--title p {
  width: 80%;
}
.projects .projects__card--row .projects__card--col {
  margin-top: 3rem;
}
.projects .projects__card--row .projects__card--col .projects__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  background-color: #A8A8A8;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  color: #020203;
  border-radius: 0.5rem;
  margin-bottom: 3rem;
}
.projects .projects__card--row .projects__card--col .projects__card::before {
  content: "";
  position: absolute;
  width: 1rem;
  height: 3.5rem;
  background-color: #FFF70F;
  top: 2rem;
  left: 0;
}
.projects .projects__card--row .projects__card--col .projects__card .projects__card--header {
  line-height: 2rem;
  padding: 2rem;
  width: 60%;
}
.projects .projects__card--row .projects__card--col .projects__card .projects__card--header .project__links a {
  color: #2c3e50;
}
.projects .projects__card--row .projects__card--col .projects__card .projects__card--header .project__links a:hover {
  color: #ff9f1c;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.projects .projects__card--row .projects__card--col .projects__card .projects__card--header h4 {
  color: #FFF70F;
  font-size: calc(1.275rem + 0.3vw);
}
@media (min-width: 1200px) {
  .projects .projects__card--row .projects__card--col .projects__card .projects__card--header h4 {
    font-size: 1.5rem;
  }
}
.projects .projects__card--row .projects__card--col .projects__card .projects__card--header h5 {
  font-size: 1.1rem;
  font-weight: bold;
}
.projects .projects__card--row .projects__card--col .projects__card .projects__card--body {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  overflow: hidden;
}
.projects .projects__card--row .projects__card--col .projects__card .projects__card--body img {
  width: 100%;
  max-height: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 0.5rem;
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
}
.projects .projects__card--row .projects__card--col .projects__card .projects__card--body img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

@media screen and (max-width: 992px) {
  .projects .projects__card--row .projects__card--col .projects__card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .projects .projects__card--row .projects__card--col .projects__card .projects__card--header,
  .projects .projects__card--row .projects__card--col .projects__card .projects__card--body {
    width: 100%;
  }
  .projects .projects__card--row .projects__card--col .projects__card .projects__card--body {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 1rem;
  }
  .projects .projects__card--row .projects__card--col .projects__card .projects__card--body img {
    max-width: 90%;
    margin: 0 auto;
    display: block;
    -o-object-fit: contain;
       object-fit: contain;
  }
}
.about {
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.about .about__introduce h2 {
  font-size: calc(3.125rem + 22.5vw);
  color: #3B3B54;
  opacity: 50%;
  text-transform: uppercase;
}
@media (min-width: 1200px) {
  .about .about__introduce h2 {
    font-size: 20rem;
  }
}
.about .about__introduce p {
  color: #fff;
  font-size: 1.1rem;
  line-height: 2rem;
  width: 80%;
  margin: 0 auto;
}
.about .about__info {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
  padding: 2rem 0;
}
.about .about__info h3 {
  font-size: calc(1.275rem + 0.3vw);
}
@media (min-width: 1200px) {
  .about .about__info h3 {
    font-size: 1.5rem;
  }
}
.about .about__info .about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5rem;
}
.about .about__info .about__content i {
  margin-right: 0.5rem;
}
.about .about__info .about__content a {
  color: #fff;
  text-decoration: none;
}
.about .about__info .about__skill img {
  width: 40px;
  height: auto;
  margin-left: 0.5rem;
}