// Breakpoint
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;

//字體
$Boldonse: "Boldonse", sans-serif !default;
$NotoSansTC: "Noto Sans TC", sans-serif !default;



//顏色

$background_color: #020203;
$mobile_baclground_color:#3B3B54;
$text_color: #fff;
$title_color: #FFF70F;
$link_color:#2c3e50;
$title_color__hover:#ff9f1c;
$silverChalice: #A8A8A8;
// $stormGray: #797C88;